* {
    font-family: "Roboto";
    margin: 0px;
}

body {
    background-color: black;
    color: #66ff00;
}

h1 {
    float:left;
    padding-top: 15px;
    padding-right: 25px;
    padding-left: 25px;
    padding-bottom: 25px;
}

a {
    color: #66ff00;
    text-decoration: none;
}

topnav {
    overflow: hidden;
    position: fixed;
}

.topnav a {
    float: right;
    padding-top: 25px;
    text-align: center;
    color: #66ff00;
    padding-bottom: 25px;
    padding-left: 10px;
    padding-right: 10px;
}

.topnav a.active {
    color: white;
}

.topnav a:hover {
    color: white;
    transition: 2s;
}
