* {
    font-family: "Roboto";
    margin: 0px;
}

body {
    background-color: black;
    color: green;
}

links {
    overflow: hidden;
    position: fixed;
}

links a {
    text-decoration: none;
    float: right;
    padding: 25px;
    text-align: center;
}

.links a.active {
    background-color: green;
    color: black;
}

.links a:hover {
    background-color: green;
    color: black;
    transition: 2s;
}
