* {
    font-family: "Roboto";
    margin: 0px;
}

body {
    background-color: black;
    color: green;
}

topnav {
    overflow: hidden;
    position: fixed;
}

.topnav a.active {
    background-color: green;
    color: black;
    text-decoration: none;
    float: left;
    padding: 25px;
}

.topnav a:hover {
    background-color: green;
    color: black;
    transition: 2s;
}
